/* MEU CSS */

body {
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: #ecf0f1;
}

.container {
  background-color: #f9f9f9;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

.header {
  padding-right: 5px;
  padding-left: 5px;
  -webkit-box-shadow: 0 1px 0px rgba(0,0,0,0.15);
  box-shadow: 0 1px 0px rgba(0,0,0,0.15);
}

.header .navbar-default {
  background-color: transparent;
  border: none;
  min-height: 110px;
}

.header h2 {
  line-height: 40px;
  margin: 0;
}

.section-title {
    padding-top: 20px;
}

.footer {
  margin-top: 30px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Handlee', cursive;
}

p, div {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.main-menu {
  background-color: transparent;
  vertical-align: middle;
  margin-top: 45px;
}

.main-menu > li > a,
.main-menu > li > a:hover,
.main-menu > li.active > a, 
.main-menu > li.active > a:hover {
  color: #424242;
  background-color: transparent;
  font-weight: 400;
  text-transform: uppercase;
}

.main-menu > li.active > a:hover {
  color: #EC407A;
}

.main-menu > li.active > a, 
.main-menu > li > a:hover {
  color: #F48FB1;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: transparent;
  color: #EC407A;
}

.main-menu > li > a.social-icons-menu {
  padding-left: 8px;
  padding-right: 8px;
}

.btn {
  font-weight: 300;
}

.testimonials-carousel, .carousel-about {
  margin-top: 50px;
  background-color: #F48FB1;
}

div.testimonials-carousel > .carousel-control, div.carousel-about > .carousel-control {
   background-image:none !important;
   filter:none !important;
}

.testimonials-item {
  min-height: 300px;
}

.testimonials-item img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.testimonials-item blockquote {
  border-left: none;
  text-decoration: italic;
}

.img-logo{
  width: 250px;
}